.App {
  width: 1920px;
  height: 1080px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-board90 {
  display: inline-block;
  transform: rotate(90deg) translateX(-125%);
}

.rotate-board180 {
  display: inline-block;
  margin: 0 auto;
  width: 846px;
  height: 702px;
  transform: rotate(180deg) translateX(-135%);
}

.rotate-board270 {
  display: inline-block;
  transform: rotate(270deg) translateX(125%);

}

.middle-row {
  width: 3200px;
  height: 1350px;
}

.state-info {
  display: inline-block;
  text-align: left;
  top: 700px;
  left: 400px;
  position: absolute;
}