/*Player text, score track table, pattern line table, wall table, arrow table and floor line table */
.player-text {
	height: 10%;
	font-size: 0.7vw;
	margin: 0;
}

.score-table {
	height: 95%;
	border-collapse: collapse;
    table-layout: fixed;
}

.pattern-table {
	border-collapse: collapse;
	table-layout: fixed;
	margin: 0 auto;
}

.arrow-table {
	border-collapse: collapse;
	table-layout: fixed;
	margin: 0 auto;
}

.wall-table {
	border-collapse: collapse;
	table-layout: fixed;
	margin: 0 auto;
}

.floor-table {
	border-collapse: collapse;
	table-layout: fixed;
	margin: 0 auto;
}


/*Score table tr, pattern tr, arrow tr and floor table tr */

.score-table-row {
	line-height: 0px;
}

.pattern-row {
	line-height: 0px;
}

.arrow-row {
	line-height: 0px;
}

.wall-row {
	line-height: 0px;
}

.floor-row {
	line-height: 0px;
}


/*Score table td, patten table td(s) and floor table td */

.score-table-td {
	width: 5.5%;
	height: 20%;
	font-size: 0.1em;
    font-weight: bold;
    text-align: center;
}

.pattern-none-td {
	width: 1vw;
	height: 1vw;
}

.pattern-td {
	width: 2vh;
	height: 2vh;
    border: 0.1px solid #e3e3e3;
    background-color: cornsilk;
}

.arrow-td {
	height: 100%;
	font-size: 1.8vh;
}


/*Image style for floor row */

.neg-number {
    margin: 0;
	padding: 0;
	width: 0.8vw;
	height: 0.4vw;
}

.img-style {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/*Pattern, arrow and wall wrappers */

.score-wrap {
	display: block;
	height: 30%;
	width: 100%;
}

.floor-wrap {
	display: block;
	float: left;
	height: 10%;
	width: 100%;
}

.pattern-wrap {
	display: inline-block;
	float: left;
	height: 50%;
	width: 45%;
}

.arrow-wrap {
	display: inline-block;
	float: left;
	height: 50%;
	width: 10%;
}

.wall-wrap {
	display: block;
	float: left;
	height: 50%;
	width: 45%;
}